
<!-- sidebar -->
<nav class="sidebar">
    <div class="menu_content">
      <ul class="menu_items">
        <li class="item">
          <div class="nav_link submenu_item" (click)="navigateToHome()">
            <span class="navlink_icon">
              <i class="bx bx-home-alt"></i>
            </span>
            <span class="navlink">Home</span>
          </div>
        </li>
        
        <li class="item">
          <!-- <div href="#" class="nav_link submenu_item"> -->
            <div class="nav_link submenu_item" (click)="navigateToAssignTask()" *ngIf="showAssignTaskButton()">
              <span class="navlink_icon">
                <i class="bx bx-check-circle"></i>
              </span>
              <span class="navlink">Assign Task</span>
            </div>
            
          <!-- </div> -->
        </li> 
        <li class="item">
          <div href="#" class="nav_link submenu_item">
            <span class="navlink_icon">
              <i class="bx bx-grid-alt"></i>
            </span>
            <span class="navlink">Status</span>
            <i class="bx bx-chevron-right arrow-left"></i>
          </div>
  
          <ul class="menu_items submenu">
            <div class="nav_link submenu_item" (click)="navigateToTodo()">
              <span class="navlink_icon">
                <i class="bx bx-grid-alt"></i>
              </span>
              <span class="navlink">Todo</span>
            </div>
            <div class="nav_link submenu_item" (click)="navigateToOnProgress()">
              <span class="navlink_icon">
                <i class="bx bx-grid-alt"></i>
              </span>
              <span class="navlink">On Progress</span>
            </div>
            <div class="nav_link submenu_item" (click)="navigateToCompleted()">
              <span class="navlink_icon">
                <i class="bx bx-grid-alt"></i>
              </span>
              <span class="navlink">Completed</span>
            </div>
          </ul>
        </li>
      </ul>
      <div class="bottom_content">
        <div class="bottom expand_sidebar">
          <span>Expand</span>
          <i class='bx bx-log-in'></i>
        </div>
        <div class="bottom collapse_sidebar">
          <span>Collapse</span>
          <i class='bx bx-log-out'></i>
        </div>
      </div>
    </div>
  </nav>