/* 
   .edit-dialog-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-left: 300px;
  }
  
  .edit-dialog-container h2 {
    margin-bottom: 10px;
  }
  
  .edit-dialog-container form {
    width: 100%;
  }
  
  .edit-dialog-container mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .edit-dialog-container .dialog-actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
   */

   /* edit-dialog.component.css */

.edit-dialog-container {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-left: 300px; /* You might want to adjust this margin value */
}

.edit-dialog-container h2 {
  margin-bottom: 10px;
}

.edit-dialog-container form {
  width: 100%;
}

.edit-dialog-container mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

.edit-dialog-container .dialog-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.edit-dialog-container .dialog-actions button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-dialog-container .dialog-actions button.cancel-button {
  background-color: #ccc;
  margin-right: 10px;
}

.edit-dialog-container .dialog-actions button:hover {
  background-color: #0056b3;
}
