<!-- <div style="background-color: #e7f2fd; ">

    <div class="login-box">
        <h2>Login</h2>
    <form (ngSubmit)="validateForm()" #loginForm="ngForm">
        <div class="user-box">
            <input type="text" id="username" name="username" [(ngModel)]="username" required>
            <label for="username">Username</label>
        </div>
        <div class="user-box">
            <input type="password" id="password" name="password" [(ngModel)]="password" required>
            <label for="password">Password</label>
        </div>
        <div class="container">
            <button id="button" type="submit" class="submit-button">Login</button>
        </div>
    </form>
</div>
</div> -->

<div style="background-color: #e7f2fd; ">

    <div class="login-box">
      <h2>Login</h2>
      <form (ngSubmit)="validateForm()" [formGroup]="loginForm">
        <div class="user-box">
          <input type="text" id="username" formControlName="username">
          <label for="username" style="font-size: 16px;">Username</label>
          <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="error-message" style="margin-bottom: 20px;
          color: red; font-size: 12px;">
            Username is required.
          </div>
        </div>
        <div class="user-box">
          <input type="password" id="password" formControlName="password">
          <label for="password" style="font-size: 16px;">Password</label>
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message" style="margin-bottom: 20px;
          color: red; font-size: 12px;">
            Password is required.
          </div>
        </div>
        <div class="container">
          <button id="button" type="submit" class="submit-button">Login</button>
        </div>
      </form>
    </div>
  </div>
