<div class="navbar navbar-expand-md fixed-top">
    <div class="logo_item">
      <i class="bx bx-menu" id="sidebarOpen"></i>
      <img src="assets/logo.png" alt="">TeamSync
    </div>
  
    <div class="collapse navbar-collapse" id="topNavBar">
      <form class="d-flex ms-auto my-3 my-lg-0">
        <!-- Your form content here -->
      </form>
      <div class="navbar_content">
  
        <!-- <i class="bx" [ngClass]="darkMode ? 'bx-moon' : 'bx-sun'" id="darkLight" (click)="toggleDarkLight();"></i> -->
      </div>
    </div>
  
    <ul class="navbar-nav">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle ms-2" id="navbarDropdown" ngbDropdownToggle #dropdownToggle>
          <i class="bi bi-person-fill"></i>
          <span class="username">{{ loggedInUsername }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
  