<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div id="main">
    <div class="row">
      <div class="mat-elevation-z8">
        <div class="button">
          <button mat-button class="export-button" (click)="exportToExcel()">Export to Excel</button>
        </div> <br>
        <div class="table-header-row">
          <mat-form-field class="filter-input">
            <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
          </mat-form-field>
        </div>
        <mat-table [dataSource]="dataSource" matSort matSortActive="completedDate" >
  
          <!-- Task ID Column -->
          <ng-container matColumnDef="taskId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Task ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.taskId}} </mat-cell>
          </ng-container>
  
          <!-- Employee Name Column -->
          <ng-container matColumnDef="employeeName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.empName}} </mat-cell>
          </ng-container>
  
          <!-- Task Description Column -->
          <ng-container matColumnDef="taskDescription">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Task Description </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.taskDescription}} </mat-cell>
          </ng-container>
  
          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngStyle]="getStatusStyles(element.status)"> {{element.status}} </mat-cell>
          </ng-container>
  
          <!-- Priority Column -->
          <ng-container matColumnDef="priority">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Priority </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.priority}} </mat-cell>
          </ng-container>
  
          <!-- Assigned Date Column -->
          <ng-container matColumnDef="assignedDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Assigned Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.assignedDate}} </mat-cell>
          </ng-container>
  
          <!-- Completed Date Column -->
          <ng-container matColumnDef="completedDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Completed Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.completedDate}} </mat-cell>
          </ng-container>
  
          <!-- Edit Column -->
          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button [disabled]="element.status === 'On Progress' || element.status === 'Completed'" mat-icon-button class="edit-button" (click)="editRow(element)">
                <mat-icon>edit</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
  
          <!-- Delete Column -->
          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button [disabled]="element.status === 'On Progress' || element.status === 'Completed'" mat-icon-button class="red-button" (click)="deleteRow(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
  
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
  