@media (min-width: 992px) {
    main {
      margin-left: 270px;
    }
  }
  
  
  #main{
      padding: 16px;
      
      margin-left: 270px;
      
  }
  .head{
    padding: 80px;
  }
  
  /* #main {
    padding: 20px;
  } */
  
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .filter-input {
    margin-bottom: 20px;
  }
  
  .mat-elevation-z8 {
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: white;
  }
  
  .mat-table {
    width: 100%;
  }
  
  .mat-header-cell,
  .mat-cell {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; 
  }
  
  .mat-header-cell {
    font-weight: bold;
  }
  
  .mat-icon-button {
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .mat-icon-button:hover {
    background-color: #f0f0f0;
  }
  
  .mat-paginator {
    margin-top: 20px;
  }
  
  /* Optional: Customize colors to match your design */
  .mat-header-cell {
    background-color: #f0f0f0;
  }
  
  .mat-cell:nth-child(even) {
    background-color: #f8f8f8;
  }
  
  .mat-cell:nth-child(odd) {
    background-color: #fff;
  }
  
  .mat-paginator {
    background-color: #f0f0f0;
  }
  .edit-button {
    color: #4070f4; /* Custom color for the edit button */
  }
  .red-button {
    color: red; /* You can adjust this color as needed */
  }

  .filter-input {
    flex: 1;
    margin-right: 10px;
  }
  
  .export-button {
    margin-top: 10px;
    background-color: #1976d2 !important; /* Use !important to override existing styles */
    color: white !important; /* Use !important to override existing styles */
    padding: 6px 12px !important; /* Use !important to override existing styles */
    font-size: 14px !important; /* Use !important to override existing styles */
    border: none !important; /* Use !important to override existing styles */
    border-radius: 4px !important; /* Use !important to override existing styles */
    cursor: pointer !important; /* Use !important to override existing styles */
    transition: background-color 0.3s ease !important; 
    width: auto !important;
  }
  
  .export-button:hover {
    background-color: #1565c0 !important; /* Use !important to override existing styles */
  }