<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<form [formGroup]="taskForm" (ngSubmit)="assignTask()">
  <label for="employeeName">Employee Name:</label>
  <select id="employeeName" formControlName="empName">
    <option *ngFor="let name of data" [value]="name">{{ name }}</option>
  </select>
  
  <label for="taskDescription">Task Description:</label>
  <input type="text" id="taskDescription" formControlName="taskDescription">
  
  <label for="priority">Priority:</label>
  <select id="priority" formControlName="priority">
    <option value="high">High</option>
    <option value="medium">Medium</option>
    <option value="low">Low</option>
  </select>
  
  <label for="assignedDate">Assign Date:</label>
  <input type="date" id="assignedDate" formControlName="assignedDate">
  
  <label for="dueDate">Due Date:</label>
  <input type="date" id="dueDate" formControlName="dueDate">
  
  <button type="submit" [disabled]="!taskForm.valid">Assign Task</button>
</form>
